* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #f1f1f1;
    text-align: center;
}
h1 {
    font-size: 3em;
    color: rgb(0, 84, 0);
}
p {
    font-size: 1.2em;
    color: rgb(138, 0, 16);
}