* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #f1f1f1;
    text-align: center;
}
#nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(138, 0, 16);
}
.nav-item {
    margin: 0 10px;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav-item:hover {
    text-decoration: underline;
}
h1 {
    margin: 20px 0;
    font-size: 4em;
    color: rgb(138, 0, 16);
    font-weight: bold;
}
h2 {
    margin: 10px 0 5px;
    font-size: 2em;
    color: rgb(49, 34, 36);
    font-weight: bold;
    font-style: italic;
}
h3 {
    margin: 10px 0;
    font-size: 3em;
    color: rgb(49, 34, 36);
    font-weight: bold;
}
p {
    margin: 0 30px;
    color: rgb(49, 34, 36);
    font-weight: bold;
}
#gallery {
    display: inline-block;
    margin: 0 2%;
}
#gallery img {    
    margin: 1%;
    border-radius: 5%;
    box-shadow: -.3em .3em .15em rgb(255, 154, 178), .15em -.3em .3em rgb(49, 34, 36);
    max-width: 30%;
    max-height: 30%;
}